.favheddingggg{
    font-family: "Roboto Condensed", sans-serif;
    padding-top: 2%;
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
}
.favnavspace{
    margin-top: 150px;
}